@import "./adminHomeCurrentComp.scss";
@import "./adminHomeAddPub.scss";
@import "./popupAddComponent.scss";

.adminhomepage {
  width: 96%;
  border: 2px solid $tertiary-color;
  padding: 1%;
  border-radius: 20px;

  &_admin {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    border-bottom: 2px solid $tertiary-color;

    h1 {
      font-family: $font-display;
      font-size: 20px;
      margin-top: 1%;
    }

    &_add {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 3%;
      margin-top: 4%;

      &_title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;

        h2 {
          font-family: $font-text;
          font-size: 15px;
        }

        .icon-btn {
          width: 50px;
          height: 50px;
          border: 2px solid $tertiary-color;
          background-color: $tertiary-color;
          border-radius: 25px;
          color: $secondary-color;
          overflow: hidden;
          position: relative;
          transition: width 0.2s ease-in-out;
          font-size: 15px;
          font-family: $font-text;
          cursor: pointer;
        }

        .add-btn:hover {
          width: 120px;
          color: $secondary-color;
        }

        .add-btn::before,
        .add-btn::after {
          transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
          content: "";
          position: absolute;
          height: 4px;
          width: 10px;
          top: calc(50% - 2px);
          background: $secondary-color;
        }

        .add-btn::after {
          right: 14px;
          overflow: hidden;
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
        }

        .add-btn::before {
          left: 14px;
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
        }

        .icon-btn:focus {
          outline: none;
        }

        .btn-txt {
          opacity: 0;
          transition: opacity 0.2s;
          font-family: $font-display;
          color: $secondary-color;
        }

        .add-btn:hover::before,
        .add-btn:hover::after {
          width: 4px;
          border-radius: 2px;
        }

        .add-btn:hover .btn-txt {
          opacity: 1;
        }

        .add-icon::after,
        .add-icon::before {
          transition: all 0.2s ease-in-out;
          content: "";
          position: absolute;
          height: 20px;
          width: 3px;
          top: calc(50% - 10px);
          background: $secondary-color;
          overflow: hidden;
        }

        .add-icon::before {
          left: 22px;
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
        }

        .add-icon::after {
          right: 22px;
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
        }

        .add-btn:hover .add-icon::before {
          left: 15px;
          height: 4px;
          top: calc(50% - 2px);
        }

        .add-btn:hover .add-icon::after {
          right: 15px;
          height: 4px;
          top: calc(50% - 2px);
        }
      }
    }
  }

  &_current {
    width: 80%;
    margin-left: 1%;

    h1 {
      font-family: $font-display;
      font-size: 20px;
      margin-top: 3%;
      margin-bottom: 3%;
    }

    &_comp {
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (min-width: 600px) {
  .adminhomepage {
    display: flex;
    flex-direction: row;

    &_admin {
      width: 40%;
      border-bottom: none;
      border-right: 2px solid $tertiary-color;

      h1 {
        font-size: 30px;
      }

      &_add {
        h2 {
          font-size: 20px;
        }
      }
    }

    &_current {
      width: 50%;

      h1 {
        font-size: 30px;
        margin-top: 1%;
      }

      &_comp {
        align-items: center;
      }
    }
  }
}
