.section_container {
  // background-color: $tertiary-color;
  .react-multiple-carousel__arrow {

    background-color: $secondary-color;
    border: $button-input-border-size solid $primary-color;

    &:hover {
      background-color: $primary-color;
      border: $button-input-border-size solid $secondary-color;

      &::before {
        color: $secondary-color;
      }
    }

    &::before {
      color: $primary-color;
    }
  }
}
