.section_container {
  // background-color: $tertiary-color;
  .react-multiple-carousel__arrow {
    background-color: $button-background-three;
    border: $button-input-border-size solid $dt-toggle-color-border;
    
    &:hover {
      background-color: $button-background-two;
      border: $button-input-border-size solid $button-background-three;

      &::before {
        color: $button-background-three;
      }
    }

    &::before {
      color: $button-background-two;
    }
  }
}
