.modify {
  & .buttons_popup {
    display: flex;
    justify-content: center;

    & form {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 100%;
    }
  }
}
@media screen and (min-width: 600px) {
}
