@import "./video_card.scss";

.category_video {
  // width: auto;
  min-width: 320px;
  // height: auto;
  // background-color: $primary-color;
  padding-bottom: 3%;

  &_main {
    width: 100%;
    height: auto;

    &_name {
      width: 30%;
      // background-color: $primary-color;
      padding: 5px;
      font-size: 35px;
      font-weight: bold;
      // color: $secondary-color;
      margin: 30px 0 30px 20px;
    }

    &_container {
      min-width: 320;
      width: 90%;
      height: auto;
      // background-color: $tertiary-color;
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      justify-content: center;
    }
  }
}
