.actuallyHeroSlider {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &_video {
    display: flex;
    justify-content: center;

    &_player {
      margin-bottom: 2%;
      width: 100%;
      max-width: 320px;
      height: 220px;
    }
  }

  &_cat,
  &_title {
    font-size: 15px;
    font-family: $font-display;
  }

  &_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 3%;
    font-family: $font-display;

    &_delete {
      width: 33%;

      button {
        padding: 9px 30px;
        margin-top: -3px;
        width: 100%;
        transition: 0.5s;
        position: relative;
        font-size: 15px;
        background: $fourth-color;
        border: none;
        color: $secondary-color;
        cursor: pointer;
      }

      button:hover {
        letter-spacing: 0.25em;
        background: #ff1867;
        color: #ff1867;
        box-shadow: 0 0 45px #ff1867;
      }

      button::before {
        content: "";
        position: absolute;
        inset: 2px;
        background: $primary-color;
      }

      button span {
        position: relative;
        z-index: 1;
      }

      button i {
        position: absolute;
        inset: 0;
        display: block;
      }

      button i::before {
        content: "";
        position: absolute;
        border: 2px solid $secondary-color;
        width: 7px;
        height: 4px;
        top: -3.5px;
        left: 80%;
        background: $tertiary-color;
        transform: translateX(-50%);
        transition: 0.5s;
      }

      button:hover i::before {
        width: 20px;
        left: 20%;
      }

      button i::after {
        content: "";
        position: absolute;
        border: 2px solid $secondary-color;
        width: 7px;
        height: 4px;
        bottom: -3.5px;
        left: 20%;
        background: $tertiary-color;
        transform: translateX(-50%);
        transition: 0.5s;
      }

      button:hover i::after {
        width: 20px;
        left: 80%;
      }
    }

    &_inactiv {
      width: 35%;
      height: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 2%;
      background-color: $primary-color;
      border: 2px solid $fourth-color;
      color: $secondary-color;
      font-size: 15px;
      transition: 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        border: 2px solid $secondary-color;
      }
    }

    &_activ {
      width: 35%;
      height: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1%;
      background-color: $secondary-color;
      border: 2px solid $fourth-color;
      color: $primary-color;
      font-size: 15px;
      transition: 0.3s ease-in-out;
      cursor: pointer;

      .svg {
        rotate: -90deg;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .actuallyHeroSlider {
    &_video {
      &_player {
        height: 195px;
        max-width: inherit;
      }
    }
  }
}
