@import "./actuallyHeroSlider.scss";
@import "./choiceHero.scss";
@import "./addHero.scss";

.adminheroslider,
.fixtures-slider {
  width: 96%;
  box-shadow: 0 0 5px 1px $primary-color;
  border-radius: 20px;
  padding: 1%;
  background-color: $lt-background;
  display: flex;
  flex-direction: column;
  gap: 15px;

  &_text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 2%;

    .title_fixtures_component {
      display: flex;
      flex-direction: column;
      gap: 12px;

      &_title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;
        margin-left: 2%;
      }

      &_input {
        display: flex;
        gap: 24px;

        input,
        button {
          padding-block: 8px;
          border-radius: 12px;
          border: 1px solid black;
        }

        button {
          padding-inline: 12px;
          background: $tertiary-color;
          font-size: 16px;
          font-family: $font-display;
          cursor: pointer;
          transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);
          transform: scale(1);

          &:hover {
            transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);
            transform: scale(1.19);
          }
        }

        input {
          width: 296px;
        }
      }
    }

    h1 {
      font-size: 20px;
      font-family: $font-display;
    }
  }

  &_videos {
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  .adminheroslider,
  .fixtures-slider {
    min-height: 700px;

    &_text {
      gap: 30px;
      margin-left: 0%;

      h1 {
        font-size: 25px;
      }
    }

    &_videos {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 4%;
    }
  }
}
