.adminvideo_container {
  width: 100%;
  height: auto;
  border: 2px solid $secondary-color;
  background-color: $primary-color;
  padding: 15px;
  margin-right: 20px;
  font-family: $font-text;

  form {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .adminvideo_file_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .adminvideo_file_label {
    font-size: 18px;
  }

  .adminvideo_file_input {
    width: 350px;
    height: 300px;
    background-color: rgb(76, 124, 197);
    padding: 20px;
    margin: 10px;
  }

  .adminvideo_fields_input {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 10px;

    label {
      font-size: 18px;
    }

    input,
    select,
    option {
      background-color: $tertiary-color;
      color: white;
    }

    option {
      width: 30%;
    }

    .adminvideo_upload_btn {
      width: 25%;
      background-color: $secondary-color;
      margin: 0px auto;
    }
  }

  .upload_message {
    h2 {
      color: red;
      text-align: center;
      font-family: $font-text;
      font-size: 18px;
    }

  }

  .upload_message_not {
    display: none;
  }

  .delete_video_container {
    h2 {
      font-family: $font-text;
      font-size: 18px;
      margin: 15px 15px 15px 160px;

    }

    .delete_video_selection {
      display: flex;
      margin: 20px;
    }

    .delete_video_select {
      width: 390px;
    }

    input,
    select,
    option {
      background-color: $tertiary-color;
      color: white;
    }

    button {
      background-color: $secondary-color;
      margin: 0px auto;
      padding: 5px 15px;
      width: 15%;
    }

    .delete_message {
      h2 {
        color: red;
        text-align: center;
        margin: 0px 0px;
      }

    }

    .delete_message_not {
      display: none;
    }
  }

}