.terms {
  margin: 25px;

  h1 {
    margin: 5px;
    font-family: $font-display;
    font-size: 20px;
    color: $tertiary-color;
  }

  h3 {
    margin: 5px;
    font-family: $font-display;
    font-size: 15px;
  }

  p {
    font-family: $font-text;
  }
}
