.pub {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  &_box {
    width: 85%;
    height: 140px;
    display: flex;
    flex-direction: row;
    background-color: #383838;
    border-radius: 20px;
    align-items: center;
    padding: 2%;
    color: white;
    gap: 10px;

    &_link {
      width: 60%;
      height: 140px;
      border-radius: 20px;

      &_img {
        width: 100%;
        height: 140px;
        border-radius: 20px;
        object-fit: cover;
      }
    }

    &_text {
      display: flex;
      flex-direction: column;
      gap: 15px;

      &_name {
        font-family: $font-display;
        font-size: 15px;
      }

      &_desc {
        font-family: $font-text;
      }

      .cssbuttons-io-button {
        background: $tertiary-color;
        color: white;
        font-family: $font-display;
        padding: 0.35em;
        padding-left: 1.2em;
        font-size: 14px;
        font-weight: 500;
        border-radius: 20px;
        border: none;
        letter-spacing: 0.05em;
        display: flex;
        align-items: center;
        box-shadow: inset 0 0 1.6em -0.6em $primary-color;
        overflow: hidden;
        position: relative;
        height: 2.8em;
        padding-right: 3.3em;
      }

      .cssbuttons-io-button .icon {
        background: white;
        margin-left: 1em;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.2em;
        width: 2.2em;
        border-radius: 20px;
        box-shadow: 0.1em 0.1em 0.6em 0.2em $secondary-color;
        right: 0.3em;
        transition: all 0.3s;
        cursor: pointer;
      }

      .cssbuttons-io-button:hover .icon {
        width: calc(100% - 0.6em);
        cursor: pointer;
      }

      .cssbuttons-io-button .icon svg {
        width: 1.1em;
        transition: transform 0.3s;
        color: $secondary-color;
      }

      .cssbuttons-io-button:hover .icon svg {
        transform: translateX(0.1em);
      }

      .cssbuttons-io-button:active .icon {
        transform: scale(0.95);
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .pub {
    &_box {
      width: 75%;
      height: 250px;
      padding: 2%;
      gap: 25px;

      &_link {
        width: 70%;
        height: 250px;

        &_img {
          height: 250px;
          border-radius: 20px;
          object-fit: initial;
        }
      }

      &_text {
        width: 25%;
        gap: 25px;

        &_name {
          font-size: 30px;
        }

        &_desc {
          font-size: 20px;
        }

        .cssbuttons-io-button {
          display: flex;
          font-size: 20px;
          margin: auto;
        }
      }
    }
  }
}
