@import "./legal_pages/cookies/cookies.scss";
@import "./legal_pages/policy/policy.scss";
@import "./legal_pages/termsofservices/termsofservices.scss";

.footer {
  min-width: 320px;
  width: 100%;
  height: auto;
  background-color: $primary-color;
  display: flex;
  color: white;
  justify-content: space-between;

  .footer_container_logo {
    width: 20%;

    .footer_logo {
      width: 50px;
    }
  }

  .footer_social {
    display: flex;
    gap: 10px;
    width: 20%;
    justify-content: center;
    align-items: center;

    .footer_social_icon {
      width: 15px;
      height: auto;
    }
  }

  .footer_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 5px 10px;
  }
}

@media screen and (min-width: 600px) {
  .footer {
    .footer_social {
      gap: 10%;
    }

    .footer_link {
      flex-direction: row;
      width: 25%;
      justify-content: space-around;
    }
  }
}
