.admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 98%;
  padding-top: 3%;
  padding-bottom: 3%;

  &_menu {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;

    &_btn {
      width: 100%;
      height: 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 2%;
      background-color: transparent;
      border: 2px solid $fourth-color;
      color: $secondary-color;
      font-size: 20px;
      font-family: $font-display;
      transition: 0.3s ease-in-out;
      border-radius: 20px;
      cursor: pointer;

      &:hover {
        border: 2px solid $secondary-color;
      }
    }

    &_btn_activ {
      width: 100%;
      height: 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1%;
      background-color: $tertiary-color;
      border: 2px solid $fourth-color;
      color: $primary-color;
      font-size: 20px;
      font-family: $font-display;
      transition: 0.3s ease-in-out;
      transform: scale(1.07);
      border-radius: 20px;
      cursor: pointer;

      .svgsamere {
        rotate: -90deg;
      }
    }

    &_comp_users,
    &_comp_home,
    &_comp_cat,
    &_comp_videos,
    &_comp_hero,
    &_comp_colors {
      width: 100%;
      margin: auto;
    }
  }

  &_components {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .admin {
    flex-direction: row;
    align-items: flex-start;
    padding-left: 2%;
    gap: 40px;

    &_menu {
      width: 25%;
      gap: 20px;

      &_btn {
        height: 60px;
      }

      &_btn_activ {
        height: 60px;

        .svgsamere {
          rotate: 180deg;
        }
      }

      &_comp_users,
      &_comp_home,
      &_comp_cat,
      &_comp_hero,
      &_comp_videos,
      &_comp_colors {
        display: none;
      }
    }

    &_components {
      display: flex;
      width: 70%;
    }
  }
}
