.home {
  display: flex;
  flex-direction: column;
  background-color: $primary-color;

  &_section {
    width: 100%;
    height: auto;
    padding-bottom: 3%;

    &_container {
      width: 95%;
      height: 30px;
      padding: 3% 0 1% 0.5%;
      font-size: 30px;
      font-weight: bold;
      color: $secondary-color;
      display: flex;
      justify-content: space-between;

      &_seebtn {
        background-color: #142850;
        border: 2px solid #00a7ff;
        color: #00a7ff;
        padding: 4px;
        font-size: 18px;
      }
    }
  }
}
