.home_section {
  width: 100%;
  height: auto;
  background-color: $primary-color;
  padding-bottom: 3%;

  .home_section_container {
    width: 30%;
    height: 30px;
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
    color: $secondary-color;
  }
}
