.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 800px;
  border-radius: 20px;
  padding-block: 12px;
  margin-block: 32px;
  margin-inline: auto;
  gap: 24px;
  height: calc(100vh - 190px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  :last-child {
    text-indent: 0;
    width: 100px;
  }

  :nth-child(7) {
    text-indent: 9px;
    font-size: 16px;
    font-weight: none;
  }

  h1 {
    font-size: 32px;
    font-weight: bold;
  }

  p {
    font-size: 2rem;
  }

  input {
    border-radius: 20px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-height: 32px;
    width: 80%;
    text-indent: 16px;
  }

  h3 {
    font-size: 24px;
  }

  .wrong-email {
    animation: border-fade-in 2s infinite ease;
    border-bottom-left-radius: 0;
    border-radius: 20px;
    border: 1px solid rgb(255, 8, 8);
  }

  @keyframes border-fade-in {
    0% {
      box-shadow: 0 0 10px rgb(179, 0, 0);
    }

    50% {
      box-shadow: 0 0 3px rgb(179, 0, 0);
    }

    100% {
      box-shadow: 0 0 10px rgb(179, 0, 0);
    }
  }
}
