.registration-page {
  position: relative;
  background-image: url("https://images.pexels.com/photos/414860/pexels-photo-414860.jpeg");
  background-size: 100vw;
  height: 120vh;
  width: 100%;

  .registration-box {
    animation: smooth-fade-in 0.8s ease-out;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 105vh;
    width: 50vw;
    border-radius: 8px;
    left: 25vw;
    top: 5vh;

    @keyframes smooth-fade-in {
      0% {
        opacity: 0;
        transform: translateX(-40px);
      }

      100% {
        opacity: 1;
        transform: translateX(0px);
      }
    }

    h2 {
      margin-block: 50px;
      text-align: center;
      font-size: 32px;
      font-weight: bold;
    }

    form {
      input {
        opacity: 0.6;
        border-radius: 4px;
        display: flex;
        width: 30vw;
        padding-block: 8px;
        margin-block: 32px;
        border-left: none;
        border-right: none;
        border-top: none;
      }

      :last-child {
        width: 50%;
        font-size: 24px;
        opacity: 1;
        justify-content: center;
        margin-left: 50%;
        background: linear-gradient(
          90deg,
          rgba(152, 71, 0, 1) 0%,
          rgba(255, 163, 0, 1) 100%
        );
      }

      p {
        font-size: 16px;
      }
    }
  }
}
