@import "./toggle.scss";

.menu-burger.active {
  left: 10px;
  opacity: 1;
  animation: slideInMenu 700ms ease;
}

@keyframes slideInMenu {
  0% {
    left: -200px;
  }
  60% {
    left: 20px;
  }
  100% {
    left: 10px;
  }
}
.menu-burger.inactive {
  opacity: 0;
  animation: slideOutMenu 700ms ease;
  transition: all 1000ms ease-in-out;
}
@keyframes slideOutMenu {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.menu-burger {
  position: absolute;
  top: 55px;
  left: -200px;
  width: 100px;
  background-color: #01153dcb;
  border: 1px solid $primary-color;
  box-shadow: 0 0 6px 0px rgba(255, 255, 255, 0.509);
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1001;

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .btn {
      font-family: $font-text;
      font-size: 1.8rem;
      width: 70px;
      height: 30px;
      border-radius: 15px;
      padding: 5px;
      display: flex;
      justify-content: center;
      gap: 5px;
      align-items: center;
    }
    .btn-login {
      background-color: rgb(116, 192, 2);
      .login-icon {
      }
    }
    .btn-signin {
      background-color: $tertiary-color;
      .signin-icon {
      }
    }
  }
}
