.button_open_add_cat {
  display: flex;
  flex-direction: row;

  & .open {
    width: 150px;
    font-size: 12px;
    margin: 2rem;
    z-index: 0;
  }

  & .close {
    width: 12px;
    font-size: 12px;
    margin: 24px;
    z-index: 0;
    padding: 0 16px 0 8px;
    max-height: 16px;
  }
}
