@import "./addAdvert.scss";
@import "./deleteAdvert.scss";
@import "./popupAdvert.scss";

.adminad {
  width: 96%;
  border: 2px solid $tertiary-color;
  border-radius: 20px;
  padding: 1%;
  background: $dt-background;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &_separate {
    display: flex;
    align-self: center;
    width: 70%;
    margin-top: 2%;
    border-bottom: 2px solid $tertiary-color;
  }

  &_box {
    width: 100%;
    margin-left: 1%;
    margin-top: 1%;

    &_title {
      font-family: $font-display;
      font-size: 25px;
    }
  }
}
